@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 20px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 33%;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
  .btn-locale {
    padding: 4px 12px;
    font-size: 18px;
    cursor: pointer;
    background-color: #fff;
  }

  .btn-locale.active {
    background-color: #b52b2f;
    color: white;
  }
}
